/*公共居中*/
.public-container{
	width: 1190px;
	margin: 0 auto;
}

/*头部下拉框*/
.head-common-down{
	width: 82px;
	font-size: 12px;
	background: #fff;
	border: 1px solid #eee;
	border-top: none;
	padding: 8px 0;
}

/*网站导航下拉框*/
.guide-tab{
	border-right: 1px solid #eee;
}

